body {
  background-color: var(--gris);
}

/*HEADER*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  padding-top: 0.5rem;
}

.navegacion a {
  color: var(--azul);
  text-decoration: none;
  font-size: 1.55rem;
  font-weight: 500;
  padding: 2rem 2.5rem;
}

.navegacion a:hover {
  text-decoration: overline;
}

/*MAIN*/

.parte1 {
  padding-right: 3rem;
  padding-top: 5rem;
  width: 80%;
}
.parte1 .titulo h1 {
  font-size: 6rem;
  font-weight: 500;
  color: var(--azul);
  margin: 0;
  padding: 0;
}

.parte1 .subtitulo {
  font-size: 2rem;
  color: var(--blanco);
}

.parte2 .imagen img {
  height: 45rem;
  width: 45rem;
}

.contenedor {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 83%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 59rem;
}

.footer {
  color: #7a7a7a;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.creditos {
  color: #7a7a7a;
  font-size: 1.5rem;
}
