/*Estilos para el HEADER*/
header {
  padding: 1rem 1.5rem;

  background-color: var(--blanco);
}

.contenido-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.img-1 {
  width: 5rem;
}

.nav-principal nav a {
  text-decoration: none;
  color: var(--negro);
  font-size: 2rem;
  font-weight: 600;
  margin-left: 11rem;
}

.nav-principal a:hover {
  text-decoration: underline;
}

.nav-principal a.asistencia {
  background-color: var(--negro);
  color: var(--blanco);
  padding: 1.5rem 1.5rem;
  border-radius: 1rem;
  font-weight: 700;
  margin-right: 2rem;
}

.logo {
  cursor: pointer;
}

/*Estilos al MAIN*/
.contenido-principal {
  display: grid;
  grid-template-columns: 5% 90% 5%;
}

.icono-1,
.icono-3 {
  padding-bottom: 20rem;
}
.column-icons-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.column-icons-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.titulo-main {
  font-size: 7rem;
  /* font-family: "Goldman", cursive; */
  font-family: "Gugi", cursive;
}

.icono {
  /* padding: 2rem 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 2rem 2rem;
}

.icono p {
  margin: 0;
}
.icono-1 {
  color: red;
}
.icono-2 {
  color: #6f32be;
}

.icono-3 {
  color: #005dff;
}

.icono-4 {
  color: #04ff00;
}

/*Contenido INFORMACIÓN*/
.informacion {
  background-color: var(--azul);
  height: 100vh;
}

.contenido-informacion {
  padding: 4rem;
}
.titulo-informacion {
  color: var(--blanco);
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
}

body.fijarbody {
  overflow: hidden;
}

.contenedor-informacion {
  display: flex;
  align-items: center;
}
.contenido-informacion {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img-faceid {
  width: 20rem;
  height: 20rem;
}

.contenedor-seccion1 {
  width: 60%;
  font-size: 4rem;
}

.texto-informacion {
  font-size: 2rem;
  color: var(--negro);
}

footer {
  background-color: var(--negro);
  color: var(--blanco);
  padding: 0.1rem 0;
  text-align: center;
}
