html {
  font-size: 62.5%; /*Hack para convertir 10px = 1rem*/
  box-sizing: border-box; /*Hack para box model*/
  scroll-snap-type: y mandatory;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
:root {
  --azul: #2fb1b6;
  --blanco: #ffffff;
  --negro: #000000;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
  text-align: center;
}

.contenedor {
  width: 95%;
  margin: 0 auto;
}

.contenedor-main {
  padding: 4rem 0;
  width: 70%;
  margin: 0 auto;
}
