.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
}

.formulario-registro {
  border: none;
  background-color: #eeeeee;
  margin-top: 3rem;
  margin-bottom: 8rem;
  width: 80%;
  border-radius: 2rem;
}
.titulo {
  margin: 0;
  padding: 0;
  padding-top: 5rem;
  font-size: 3.4rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.linea {
  background-color: var(--azul);
  padding: 0.2rem;
  margin-bottom: 6rem;
}

.img-1 {
  width: 8rem;
}

.contenedor-form {
  width: 87%;
  margin: 0 auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 3rem;
  -webkit-appearance: none;
  margin-bottom: 6rem;
}

.campo {
  width: 50%;
  outline: none;
  padding: 1rem 0.2rem;
  border-color: black;
  border-radius: 0.4rem;
  border-width: 0.2rem;
  place-content: 2rem;
  font-size: 1.4rem;
}
.img-logo {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.contraseña {
  margin-bottom: 4rem;
}

.btn {
  background-color: var(--negro);
  color: var(--blanco);
  border: none;
  font-weight: 700;
  font-size: 1.8rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  padding: 1.5rem 5rem;
  margin-bottom: 0;
  margin-top: 3rem;
}

fieldset {
  border-color: black;
}

.inicia-sesion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.parrafo {
  color: grey;
}

a {
  text-decoration: none;
  color: var(--azul);
}

.seccion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1.5rem;
}

label {
  font-size: 1.5rem;
}

.correcto {
  text-align: center;
  background-color: rgb(19, 255, 30);
  color: white;
  padding: 1rem 0;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.error {
  text-align: center;
  background-color: red;
  color: black;
  padding: 1rem 0;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.ok {
  border-color: rgb(0, 255, 0);
}

.incorrecto {
  color: red;
}
.incorrecto input {
  border-color: red;
}
.incorrecto select {
  border-color: red;
}
