<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/globales.css">
    <link rel="stylesheet" href="../css/iniciar-sesion.css">
    <title>Registro</title>
</head>
<body>
    <div class="formulario contenedor-form">
        <form action="" class="formulario-registro">
            <fieldset>
                <div class="img-logo">
                    <legend> <img src="../img/1.png" class="img-1" alt="logo-kontrolaccess"></legend>
                </div>
                <div class="inputs">
                    <input type="email" placeholder="Email" class="campo">
                    <input type="password" placeholder="Password" class="contraseña campo">
                    <button type="submit" class="btn campo">Iniciar sesión</button>
                </div>
                <div class="inicia-sesion">
                    <a href="#" class="olvisate">¿Olvidaste tu contraseña?</a>
                    <p class="parrafo">¿Aún no tienes una cuenta?<a href="registrarse.html"> Registrate</a></p>
                </div>
            </fieldset>

            
        </form>
    </div>
    </body>
</html>