<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/globales.css">
    <link rel="shortcut icon" href="../img/logo.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/iniciar-sesion.css">
    <title>Inicia sesion</title>
</head>
<body>

    <section class="parte-arriba">
        <a href="index.html"><img src="../img/logoSena6.png" alt="logo-kontrolaccess"></a> 
         <a href="https://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank"><img src="../img/logoSenaNegro.png" alt=""></a>
     </section>
 
 
     <header>
         <div class="contenedor contenido-header">
             
 
             <div class="nav-principal">
                 <nav>
                     <a href="../layouts/index.html" class="inicio">Inicio</a>
                     <a href="../layouts/iniciar-sesion.html" class="iniciarSesion">Iniciar sesión</a>
                     <a href="http://localhost:3000/layouts/registrarse.php" class="registrarse">Registrarse</a>
                     <a href="#" class="asistencia">Asistencia</a>
                 </nav>
             </div>
         </div>
     </header>

    <div class="formulario contenedor-form">
        <form action="" class="formulario-registro">
        
                <div class="img-logo">
                    <legend> <a title="inicio" href="index.html"><img src="../img/1.png" class="img-1" alt="logo-kontrolaccess"></a></legend>
                </div>
                <div class="inputs">
                    <input type="email" placeholder="Email" class="campo">
                    <input type="password" placeholder="Password" class="contraseña campo">
                    <button type="submit" class="btn campo">Iniciar sesión</button>
                </div>
                <div class="inicia-sesion">
                    <a href="#" class="olvisate">¿Olvidaste tu contraseña?</a>
                    <p class="parrafo">¿Aún no tienes una cuenta?<a href="registrarse.html"> Registrate</a></p>
                </div>
            

            
        </form>
    </div>
    </body>
</html>