<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/globales.css">
    <link rel="stylesheet" href="../css/registro.css">
    <title>Registro</title>
</head>

<body>
    <div class="formulario contenedor-form">
        <form action="../includes/registrar_usuarios.php" method="POST" class="formulario-registro">
            <fieldset>
                <div class="img-logo">
                    <legend> <img src="../img/1.png" class="img-1" alt="logo-kontrolaccess"></legend>
                </div>
                <div class="inputs">
                    <div class="seccion">
                        <label>Tipo de documento de identidad</label>
                        <select name="tipo_id" id="" class="campo">
                            <option value="seleccione">Seleccione</option>
                            <option value="CC">Cédula de Ciudadania</option>
                            <option value="TI">Tarjeta de Identidad</option>
                            <option value="RC">Registro Civil</option>
                        </select>
                    </div>

                    <div class="seccion">
                        <label>Número de documento</label>
                        <input type="number" name="id_persona" placeholder="Ingrese numero de documento" class="campo">
                    </div>

                    <div class="seccion">
                        <label>Nombres</label>
                        <input type="text" name="nombre" placeholder="Nombre" class="campo">
                    </div>

                    <div class="seccion">
                        <label>Apellidos</label>
                        <input type="text" name="apellido" placeholder="Apellido" class="campo">
                    </div>

                    <div class="seccion">
                        <label>Email</label>
                        <input type="email" name="email" placeholder="Email" class="campo">
                    </div>


                    <div class="seccion">
                        <label>Rol</label>
                        <select name="rol" id="" class="campo">
                            <option value="seleccione">Seleccione</option>
                            <option value="estudiante">Estudiante</option>
                            <option value="docente">Docente</option>
                            <option value="directivo">Directivo</option>
                            <option value="acudiente">Acudiente</option>
                            <option value="empleado">Empleado</option>
                        </select>
                    </div>

                </div>    
                   
                
                <div class="inicia-sesion">
                    <button type="submit" name="enviar" value="Procesar" class="btn ">Crear cuenta</button>
                    <p class="parrafo">¿Ya tienes una cuenta? <a href="iniciar-sesion.html">Inicia sesión</a></p>
                </div>
            </fieldset>


        </form>
    </div>

    <script src="../js/app.js"></script>
</body>

</html>