body {
  min-height: 800px;
  background-image: url(../../Img/backgraund.png);
  background-repeat: no-repeat;
  background-size: contain;
}
header {
  height: auto;
  background-image: none;
}
.contenedor {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navegacion-principal {
  flex-direction: row;
  justify-content: space-between;
}
.navegacion-principal a {
  padding: 10px;
}
.container {
  margin-top: 200px;
  flex-direction: row;
  justify-content: space-around;
}
