
main{width:600px;
} 
main h2{
    font-size: 3rem;
}
.email span{
    font-size: 2.5rem;
}
.email input{
    width: 480px;
}

main .link{
    color: #6BD6D3;
    font-size: 2rem;
    text-decoration: none;
}
main button{
    width: 480px;
}
