body
{
    background-color: #6DE8C7;
}
.btnsArriba
{
    display: flex;
    justify-content: space-around;
}
.boton
{
    font-size: 25px;
    background-color: white;
    border-radius: 5%;
    border-style: solid;
}
.botones
{
    
    float: left;
    padding-left: 1in;
    padding-right: 1in;
    padding-top: 10px;
    padding-bottom: 10px;
    
    text-decoration: currentColor;
}
.img
{
    margin: 20px;
    width: 500px;
    height: 300px;
}
.cuerpo
{
    display: flex;
    justify-content: space-between;
}